body{
    margin:0;
    padding:0;
}
.nomarginbottom{
    margin-bottom:0!important;
}
.sections{
    width:100%;
}
.section-1{
    background:url('../images/background-header.png') center bottom no-repeat;
    background-size:100%;
    height:650px;
    position:relative;
}
.ignis{
    position:absolute;
    bottom:0;
    left:0;
}
.baleno{
    position:absolute;
    bottom:0;
    right:0;
}
.head-text{
    padding-top:10%;
}
.section-13{
    background:repeat-x url('../images/13-bg.png') top left;
}