@font-face {
    font-family: latoblack;
    src: url('../font/Lato/Lato-Black.ttf');
}
@font-face {
    font-family: latobold;
    src: url('../font/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: lato;
    src: url('../font/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: latolight;
    src: url('../font/Lato/Lato-Light.ttf');
}
*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    font-family: lato;
}
.nomarginbottom{
    margin-bottom:0!important;
}
.sections{
    width:100%;
}
.section-sub-title{
    font-size:2em;
    color:#949494;
    font-family: latobold;
    letter-spacing: 0.5vh;
    margin-bottom:0;
}
.section-sub-title-2{
    font-size:3em;
    color:#949494;
    font-family: latobold;
    letter-spacing: 1vh;
    margin-bottom:0;
}
.spanb{
    font-size:1.5em;
    line-height: 1.375em;
    padding:10px;
    color:#fff;
    width:350px;
    max-width: 100%;
    font-family: latobold;
    background: #5dc6d1;
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari */
    transform: rotate(3deg);
    float:left;
    margin-top:1%;
}
.spanp{
    font-size:1.5em;
    line-height: 1.375em;
    padding:10px;
    color:#fff;
    width:350px;
    max-width: 100%;
    font-family: latobold;
    background: #946dba;
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Safari */
    transform: rotate(-3deg);
    float:right;
    margin-top:1%;
}
.text-orange{
    color:#f89a1c;
}
.text-pink{
    color:#ff3b90;
}
.text-blue{
    color:#5dc6d1;
}
.box-1{
    border: 2px dashed #f89a1c;
    padding:10px 30px;
}
.colleft{
    float:left;
    width:50%;
    margin-left:10%;
}
.colright{
    float:left;
    width:40%;
    text-align: left;
    margin-top:20px;
}
.emlight{
    color:#ffff00;
    font-weight:bold;
}
.lastcol{
    margin-top:15px;
}
.box-footer{
    margin-top:20px;
    font-size:0.5em!important;
}
.box-3{
    padding:20px;
}
.italic{
    font-style: italic;
}
.building{
    position:absolute;
    bottom:30%;
    right:0;
}
.section-2{
    background:#FFF;
    position:relative;
}
.title-head-def{
    margin-left:auto;
    margin-right:auto;
    background:url('../images/2-ribbon-oren.png') no-repeat;
    background-size:100%;
    width:450px;
    max-width:90%;
    height:56px;
    text-align:center;
    color:#FFF;
    font-size: 2.5em;
    font-family: latobold;
    letter-spacing: 0.3vh;

}
.section-3{
    position:relative;
    background:url('../images/2-background-grid.png') repeat;
    padding-bottom:30px;
}
@media only screen and (max-width: 480px) {
    .font3{
        font-size:2vh!important;
        padding-top:8px;
    }
    .section-title{
        font-size:2em;
        color:#946dba;
        font-family: latobold;
        letter-spacing: 1vh;
        margin-bottom:0;
    }
    p,.font1{
        font-size:1em!important;
        line-height: 1.2em!important;
    }
    .font2{
        font-size:3.2vh!important;
    }
    .section-1{
        background:url('../images/background-header.png') center top #FFF no-repeat;
        background-size:100%;
        height:240px;
        position:relative;
    }
    .ignis{
        position:absolute;
        bottom:0;
        width:25%;
        left:0;
    }
    .baleno{
        position:absolute;
        bottom:0;
        width:25%;
        right:0;
    }
    .head-text{
        padding-top:10%;
        width:70%;
        margin-left:auto;
        margin-right:auto;
    }
    .colbro{
        width:100%;
        margin-right:auto;
        margin-left:auto;
        margin-bottom:10px;
    }
    .box-2{
        background:url('../images/1-box-ungu.png') no-repeat;
        background-size:100%;
        height:280px;
    }
    .title-box-2{
        font-size:1.5em;
        color:#ffff00;
        font-family: latobold;
        letter-spacing: 1vh;
        margin-bottom:10px;
    }
    .sub-box-2{
        padding-left:10px;
        padding-right:10px;
        padding-top:10px;
    }
    .body-box-2{
        color:#FFF;
        font-size:1em;
        line-height: 1.2em;
        font-family: latolight;
    }
    .emmiddle{
        color:#ffff00;
        font-size: 1.5em;
        margin-top:15px;
        font-family: latobold;
    }
    .emhigh{
        color:#ffff00;
        font-size: 2em;
        font-family: latobold;
    }
    .title-head-4{
        margin-left:auto;
        margin-right:auto;
        background:url('../images/3-ribbon-pink.png') no-repeat;
        background-size:100%;
        width:80%;
        max-width:90%;
        height:56px;
        text-align:center;
        color:#FFF;
        font-size: 2.3vh;
        font-family: latobold;
        letter-spacing: 0.3vh;
    }
    .ico-5-2{
        width:100%;
        left:0;
    }
    .mountain{
        position:absolute;
        width:15%;
        bottom:0;
        left:0;
    }
    .mobilkanan{
        position: absolute;
        top:10%;
        right:0;
        width:30%;
        
    }
    .mau{
        width:560px;
        max-width: 100%;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:25px;
    }
    .ico-kiri-7{
        position:absolute;
        top:20%;
        left:0;
        width:10%;
    }
    .ico-kanan-7{
        position:absolute;
        top:25%;
        right:0;
        width:20%;
    }
    .kiri-8{
        width: 98%;
        float: left;
        padding: 1%;
    }
    .kanan-8{
        width: 98%;
        float: left;
        padding: 1%;
    }
    .mobilkanan-8{
        position:absolute;
        bottom:1.5%;
        right:0;
        width:25%;
    }
    .iconkiri-9{
        position:absolute;
        top:10%;
        left:0;
        width:20%;
    }
    .iconkanan-9{
        position:absolute;
        top:30%;
        right:0;
        width:20%;
    }
    .iconkananbawah-9{
        position:absolute;
        bottom:10%;
        right:0;
        width:20%;
    }
    .mobilkiri-9{
        position:absolute;
        bottom:-1%;
        left:1%;
        z-index: 1;
        width:50%;
    }
    .fakta-text{
        padding:2%;
    }
    .fakta-img{
        padding:2%;
        margin-top:-50px;
        margin-left:auto;
        margin-right:auto;
    }
    .fakta{
        margin-top:10%;
        padding-bottom:50px!important;
    }
    .ico-mobil-7{
        position:absolute;
        bottom:0;
        left:0;
    }
    .iconkanan-10-1{
        position:absolute;
        top:17%;
        right:0;
        width:20%;
    }
    .iconkanan-10-2{
        position:absolute;
        top:40%;
        right:0;
        width:10%;
    }
    .iconkanan-10-3{
        position:absolute;
        bottom:0;
        right:0;
        width:20%;
    }
    .iconkiri-10-1{
        position:absolute;
        top:15%;
        left:0;
        width:20%;
    }
    .iconkiri-10-2{
        position:absolute;
        top:60%;
        left:0;
        width:20%;
    }
    .iconkiri-10-3{
        position:absolute;
        bottom:5%;
        left:0;
        width:20%;
    }
    .iconkiribawah-kuis{
        position:absolute;
        bottom:5%;
        left:0;
        width:20%;
    }
    .iconmobil-kuis{
        position:absolute;
        top:7%;
        right:0;
        width:35%;
    }
    .segitiga-kuiskiri{
        position:absolute;
        top:1%;
        left:7%;
        width:30%;
    }
    #body-result{
        padding-top:100px;
        font-size:1.6vh
    }
    .box-4{
        background:url('../images/1-kurung-tosca-m.png') no-repeat left center;
        background-size:100%;
        padding:10px;
        height:160px;
    }
    .box-6{
        margin-top:0;
        padding-bottom:25px;
    }
    .box-6-poin{
        width:20%;
        float:right;
        margin-right:-3%;
        margin-top:-20%;
    }
    .box-8-poin{
        width:20%;
    }
    .box-9-poin{
        width:20%;
    }
    .mbem-2{
        position:absolute;
        top:38%;
        right:15%;
        width:30%;
    }
    .road{
        position:absolute;
        width:100%;
        top:42%!important;
    }
    .road-5{
        position:absolute;
        width:100%;
        z-index: 0;
        top:6%!important;
        left:0;
    }
    .m-mobile{
        margin-top:25%;
    }
    .m-mar-top{
        padding-top:8%!important;
    }
    .iconlampu-5{
        position:absolute;
        top: 16%;
        left: 20%;
        width: 25%;
    }
    .menyusul{
        position:absolute;
        top:20%;
        right:0;
        width:25%;
    }
    .ico-5{
        z-index: 1;
        margin-top:0;
        width: 100%;
    }
}
@media only screen and (min-width: 481px) {

    .section-title{
        font-size:3em;
        color:#946dba;
        font-family: latobold;
        letter-spacing: 1vh;
        margin-bottom:0;
    }
    p{
        font-size:1.5em;
        line-height: 1.375em;
    }
    .section-1{
        background:url('../images/background-header.png') center top #FFF no-repeat;
        background-size:100%;
        height:650px;
        position:relative;
    }
    .ignis{
        position:absolute;
        bottom:0;
        left:0;
    }
    .baleno{
        position:absolute;
        bottom:0;
        right:0;
    }
    .head-text{
        padding-top:10%;
        width:75%;
        margin-left:auto;
        margin-right:auto;
    }
    .colbro{
        width:725px;
        margin-right:auto;
        margin-left:auto;
        margin-bottom:10px;
    }
    .box-2{
        background:url('../images/1-box-ungu.png') no-repeat;
        background-size:100%;
        height:470px;
    }
    .title-box-2{
        font-size:2em;
        color:#ffff00;
        font-family: latobold;
        letter-spacing: 1vh;
        margin-bottom:10px;
    }
    .sub-box-2{
        padding-left:50px;
        padding-right:20px;
        padding-top:20px;
    }
    .emmiddle{
        color:#ffff00;
        font-size: 2.5em;
        margin-top:15px;
        font-family: latobold;
    }
    .emhigh{
        color:#ffff00;
        font-size: 3em;
        font-family: latobold;
    }
    .body-box-2{
        color:#FFF;
        font-size:1.4em;
        line-height: 1.375em;
        font-family: latolight;
    }
    .title-head-4{
        margin-left:auto;
        margin-right:auto;
        background:url('../images/3-ribbon-pink.png') no-repeat;
        width:660px;
        height:56px;
        text-align:center;
        color:#FFF;
        font-size: 2.5em;
        font-family: latobold;
        letter-spacing: 0.3vh;
    
    }
    .ico-5-2{
        margin-left:-300px;
        left:0;
    }
    .mountain{
        position:absolute;
        bottom:0;
        left:0;
    }
    .mobilkanan{
        position: absolute;
        top:10%;
        right:5%;
        
    }
    .mau{
        width:560px;
        max-width: 100%;
        margin-left:auto;
        margin-right:auto;
    }
    .ico-kiri-7{
        position:absolute;
        top:20%;
        left:0;
    }
    .ico-kanan-7{
        position:absolute;
        top:25%;
        right:0;
    }
    .kiri-8{
        width: 48%;
        float: left;
        padding: 1%;
    }
    .kanan-8{
        width: 49%;
        float: left;
        padding: 1%;
    }
    .mobilkanan-8{
        position:absolute;
        bottom:0;
        right:0;
    }
    .iconkiri-9{
        position:absolute;
        top:5%;
        left:0;
    }
    .iconkanan-9{
        position:absolute;
        top:20%;
        right:0;
    }
    .iconkananbawah-9{
        position:absolute;
        bottom:5%;
        right:4%;
    }
    .mobilkiri-9{
        position:absolute;
        bottom:-120px;
        left:0;
        z-index: 1;
    }
    .fakta-text{
        width: 81%;
        padding:2%;
        float:right;
    }
    .fakta-img{
        width: 11%;
        padding:2%;
        float:left;
        margin-top:30px;
    }
    .ico-mobil-7{
        position:absolute;
        bottom:1%;
        left:0;
    }
    .iconkanan-10-1{
        position:absolute;
        top:20%;
        right:0;
    }
    .iconkanan-10-2{
        position:absolute;
        top:40%;
        right:0;
    }
    .iconkanan-10-3{
        position:absolute;
        bottom:5%;
        right:0;
    }
    .iconkiri-10-1{
        position:absolute;
        top:20%;
        left:0;
    }
    .iconkiri-10-2{
        position:absolute;
        top:60%;
        left:0;
    }
    .iconkiri-10-3{
        position:absolute;
        bottom:5%;
        left:0;
    }
    .iconkiri-kuis{
        position:absolute;
        top:20%;
        left:0;
    }
    .iconkiribawah-kuis{
        position:absolute;
        bottom:5%;
        left:0;
    }
    .iconmobil-kuis{
        position:absolute;
        bottom:10%;
        right:0;
    }
    .iconkanan-kuis{
        position:absolute;
        top:15%;
        right:0;
    }
    .segitiga-kuiskanan{
        position:absolute;
        top:15%;
        right:20%;
    }
    .segitiga-kuiskiri{
        position:absolute;
        top:7%;
        left:20%;
    }
    #body-result{
        padding-top:120px;
    }
    .box-4{
        background:url('../images/1-kurung-tosca.png') no-repeat left center;
        background-size:100%;
        padding:20px;
        height:290px;
    }
    .box-6{
        margin-top:100px;
        padding:40px;
    }
    .mbem-2{
        position:absolute;
        top:45%;
        right:0;
    }
    .iconlampu-5{
        position:absolute;
        top:28%;
        right:20%;
    }
    .ico-5{
        z-index: 1;
        margin-top:220px;
    }
}
@media only screen and (max-width: 1366px) {
    .road{
        position:absolute;
        width:100%;
        top:35%;
    }
    .road-5{
        position:absolute;
        width:100%;
        z-index: 0;
        top:16%;
        left:0;
    }
    .box-12{
        margin-top:50px;
    }
    .box-18{
        font-size:0.8em;
        padding:20px;
    }
    .box-9{
        margin-top:50px;
    }
    .mobilkanan-5{
        position:absolute;
        bottom:8%;
        right:0;
        z-index: 1;
    }
}
@media only screen and (min-width: 1367px) {
    .road{
        position:absolute;
        width:100%;
        top:32%;
    }
    .road-5{
        position:absolute;
        width:100%;
        z-index: 0;
        top:14%;
        left:0;
    }
    .box-12{
        margin-top:100px;
    }
    .box-18{
        padding:20px;
    }
    .box-9{
        margin-top:60px;
    }
    .mobilkanan-5{
        position:absolute;
        bottom:2%;
        right:0;
        z-index: 1;
    }
}
.box-5{
    background:#f89a1c;
    padding:15px;
    position: relative;
}
.qm{
    position: absolute;
    right:-30px;
    top:-30px;
}
.bordered-dash{
    border: #FFF dashed 2px;
    padding:10px;
}
.box-6-title{
    background:url('../images/2-pita-pink.png') right no-repeat;
    background-size:100%;
    width:240px;
    max-width: 100%;
    height:35px;
    text-align:left;
    color:#FFF;
    font-size: 3vh;
    padding-left:5px;
    font-weight: bold;
}
.box-8{
    margin-top:10px;
}
.box-8-title{
    background:url('../images/2-pita-ungu.png') right no-repeat;
    background-size:100%;
    width:250px;
    max-width: 100%;
    height:35px;
    text-align:left;
    color:#FFF;
    font-size: 3vh;
    padding-left:5px;
    font-weight: bold;
}
.box-9-title{
    background:url('../images/2-pita-biru.png') right no-repeat;
    background-size:100%;
    width:250px;
    max-width: 100%;
    height:35px;
    text-align:left;
    color:#FFF;
    font-size: 3vh;
    padding-left:5px;
    font-weight: bold;
}
.box-7{
    margin-top:20px;
}

.section-4{
    position:relative;
    background:#FFF;
}

.segitiga1{
    position:absolute;
    top:0;
    left:10%;
}
.segitiga2{
    position:absolute;
    top:30%;
    right:5%;
}
.segitiga3{
    position:absolute;
    bottom:15%;
    left:0;
}
.impoinl{
    margin-top:10px;
    text-align: right;
}
.impoinr{
    margin-top:10px;
    text-align: left;
}
.img-res{
    max-width:100%;
}
.poin1{
    z-index: 1;
}
.poin2{
    z-index: 0;
    margin-top:-10px;
}
.poin3{
    z-index: 1;
    margin-left:30px;
    margin-top:-20px;
}
.poin4{
    z-index: 2;
    margin-left:20px;
    margin-top:-20px;
}
.poin5{
    z-index: 3;
    margin-top:-20px;
}
.poin6{
    z-index: 1;
}
.poin7{
    z-index: 0;
    margin-top:-10px;
}
.poin8{
    z-index: 1;
    margin-left:30px;
    margin-top:-20px;
}
.poin9{
    z-index: 2;
    margin-left:20px;
    margin-top:-20px;
}
.poin10{
    z-index: 3;
    margin-top:-20px;
}
.section-5{
    background: #6c568b; /* For browsers that do not support gradients */
    background: linear-gradient( #445083, #6c568b);
    position: relative;
}
.section-5-title{
    text-align: center;
    font-size:5vh;
    color:#ffff00;
    font-family: latobold;
    letter-spacing: 1.5vh;
    margin-bottom:20px;
}
.img-bawah{
    position: absolute;
    bottom:0;
    right:0;
}
.box-10{
    border:dashed #FFF 2px;
    margin-top:70px;
    padding-bottom:20px;
}
.box-10-title{
    margin-left:auto;
    margin-right:auto;
    width:500px;
    max-width:90%;
    margin-top:-50px;
    margin-bottom:20px;
    text-align: center;
    background:#4f568b;
    border:dashed #FFF 2px;
}
.sub-title{
    font-size:2em;
    font-family: latobold;
}
.sub-title2{
    font-size:2em;
    color:#ffff00;
    font-family: latobold;
}
.mau-img{
    width:20%;
}
.mau-t{
    width:78%;
    margin-top:20px;
    margin-left:2%;
}
.box-10-1{
    margin:20px;
    padding: 20px 10px;
}
.box-10-1-head{
    font-size: 2em;
    font-family: latobold;
}
.rounded{
    border-radius:10px;
}
.little-box{
    padding:20px;
    margin-top:70px;
}
.little-box-title{
    padding:20px;
    letter-spacing: 0.5vh;
    font-family:latobold;
}
.box-11{
    padding-top:20px;
}
.box-11-footer{
    margin-top:20px;
    font-size:1em!important;
}
.awankanan{
    position: absolute;
    top:25%;
    right:0;
    
}
.segitigakanan{
    position: absolute;
    top:45%;
    right:8%;
    
}
.balonkanan{
    position: absolute;
    bottom:8%;
    right:5%;
    
}
.awankiri{
    position: absolute;
    top:40%;
    left:0;
    
}
.segitigakiri{
    position: absolute;
    top:20%;
    left:8%;
    
}
.balonkiri{
    position: absolute;
    bottom:10%;
    left:2%;
    
}
.section-6{
    padding-bottom:20px;
    position: relative;
    background:  url('../images/5-background-world.png') no-repeat center;
}
.section-6-title{
    margin-left:auto;
    margin-right:auto;
    width:500px;
    max-width: 100%;
    margin-top:-1%;
    margin-bottom:40px;
    text-align: center;
    border:dashed #362f2d 2px;
}
.sub-title-6{
    font-size:2em;
    font-family: latobold;
    color:#362f2d;
}
.sub-title-6-2{
    font-size:2em;
    color:#4f568b;
    font-family: latobold;
}
.mobilkiri-5{
    position:absolute;
    top:270px;
    left:0;
    z-index: 1;
}
.mobiljarak-5{
    position:absolute;
    top:24%;
    right:8%;
}
.balonudara-5{
    position:absolute;
    top:40%;
    right:0;
}
.pad{
    padding: 10px 30px;
}
.box-13,.box-14,.box-17{
    margin-bottom:20px;
}
.list-5-2{
    margin-bottom:20px;
}
.section-7{
    position: relative;
    background:#6c568b;
}
.box-16{
    border:dashed #FFF 2px;
    margin-top:70px;
    padding-bottom:20px;
    margin-bottom:100px;
}
.box-16-title{
    margin-left:auto;
    margin-right:auto;
    width:500px;
    max-width:90%;
    margin-top:-50px;
    margin-bottom:20px;
    text-align: center;
    background:#6c568b;
    border:dashed #FFF 2px;
}
.title-7-1{
    width:290px;
    max-width: 100%;
    height:36px;
    background: url('../images/6-ribbon-putih.png') no-repeat;
    background-size: 100%;
    font-size: 3vh;
    margin-left:auto;
    margin-right:auto;
}
.ico-road-7{
    position:absolute;
    bottom:0;
    right:0;
    width: 100%;
}
.section-8{
    position: relative;
}
.iconkanan-8{
    position:absolute;
    top:20%;
    right:0;
}
.iconkiri-8{
    position:absolute;
    top:30%;
    left:0;
}
.box-17{
    padding-top:20px;
}
.box-19{
    padding:20px;
    border: dashed 2px #FF3a90;
    margin-top:20px;
}
.wrp{
    padding:15% 8%;
    background:url('../images/7-kurung-putih.png') no-repeat center ;
    background-size:90%;
}
.section-9{
    position: relative;
    background:#6c568b;
}
.box-20{
    border:dashed #FFF 2px;
    margin-top:70px;
    padding-bottom:20px;
}
.box-20-title{
    margin-left:auto;
    margin-right:auto;
    width:500px;
    max-width:90%;
    margin-top:-50px;
    margin-bottom:20px;
    text-align: center;
    background:#6c568b;
    border:dashed #FFF 2px;
}
.section-10{
    position: relative;
}
.box-21{
    padding:20px;
    margin-top:100px;
}
.box-22{
    padding:20px;
    margin-top:100px;
}
.bg-pink{
    background: #FF3a90;
}
.bg-blue{
    background: #6ccef5;
}
.bg-orange{
    background: #f89a1c;
}
.box-23{
    border : dashed 2px #5dc6d1;
    padding:5%;
}
.radio_a{
    width:50px;
    height:50px;
    background:#946dba;
}
.section-11{
    position: relative;
}
.section-12{
    background:url('../images/kuis-background-rip.png') center;
    height:500px;
}
.ico-6{
    float:left;
    margin-top:8px;
}
.foot{
    letter-spacing: 0.5vh;
}
.img-foot{
    padding:20px 0;
}
.section-13{
    background:repeat-x url('../images/13-bg.png') bottom left;
    padding-bottom:30px;
}
strong{
    font-family:latobold!important;
}