@font-face {
    font-family: latoblack;
    src: url('../font/Lato/Lato-Black.ttf');
}
@font-face {
    font-family: latobold;
    src: url('../font/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: lato;
    src: url('../font/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: latolight;
    src: url('../font/Lato/Lato-Light.ttf');
}
*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    font-family: lato;
}
.nomarginbottom{
    margin-bottom:0!important;
}
.sections{
    width:100%;
}
.section-sub-title{
    font-size:2em;
    color:#949494;
    font-family: latobold;
    letter-spacing: 0.5vh;
    margin-bottom:0;
}
.section-title{
    font-size:3em;
    color:#946dba;
    font-family: latobold;
    letter-spacing: 1vh;
    margin-bottom:0;
}
p{
    font-size:1.5em;
    line-height: 1.375em;
}
.spanb{
    font-size:1.5em;
    line-height: 1.375em;
    padding:10px;
    color:#fff;
    width:350px;
    font-family: latobold;
    background: #5dc6d1;
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari */
    transform: rotate(3deg);
    float:left;
    margin-top:1%;
}
.spanp{
    font-size:1.5em;
    line-height: 1.375em;
    padding:10px;
    color:#fff;
    width:350px;
    font-family: latobold;
    background: #946dba;
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Safari */
    transform: rotate(-3deg);
    float:right;
    margin-top:1%;
}
.colbro{
    width:725px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:10px;
}
.text-orange{
    color:#f89a1c;
}
.text-pink{
    color:#ff3b90;
}
.text-blue{
    color:#5dc6d1;
}
.box-1{
    border: 2px dashed #f89a1c;
    padding:10px 30px;
}
.box-2{
    background:url('../images/1-box-ungu.png') no-repeat;
    background-size:100%;
    height:470px;
}
.title-box-2{
    font-size:2em;
    color:#ffff00;
    font-family: latobold;
    letter-spacing: 1vh;
    margin-bottom:10px;
}
.body-box-2{
    color:#FFF;
    font-size:1.5em;
    line-height: 1.375em;
    font-family: latolight;
}
.sub-box-2{
    padding-left:50px;
    padding-right:20px;
    padding-top:20px;
}
.colleft{
    float:left;
    width:50%;
    margin-left:10%;
}
.colright{
    float:left;
    width:40%;
    text-align: left;
    margin-top:20px;
}
.emlight{
    color:#ffff00;
    font-weight:bold;
}
.emmiddle{
    color:#ffff00;
    font-size: 2.5em;
    margin-top:15px;
    font-family: latobold;
}
.emhigh{
    color:#ffff00;
    font-size: 3em;
    font-family: latobold;
}
.lastcol{
    margin-top:15px;
}
.box-footer{
    margin-top:20px;
    font-size:0.5em!important;
}
.box-3{
    padding:20px;
}
.box-4{
    background:url('../images/1-kurung-tosca.png') no-repeat left center;
    background-size:100%;
    padding:20px;
    height:290px;
}
.italic{
    font-style: italic;
}
.section-1{
    background:url('../images/background-header.png') center bottom no-repeat;
    background-size:100%;
    height:650px;
    position:relative;
}
.ignis{
    position:absolute;
    bottom:0;
    left:0;
}
.baleno{
    position:absolute;
    bottom:0;
    right:0;
}
.building{
    position:absolute;
    bottom:30%;
    right:0;
}
.mountain{
    position:absolute;
    bottom:0;
    left:0;
}
.head-text{
    padding-top:10%;
}
.section-2{
    background:#FFF;
    position:relative;
}
.title-head-def{
    margin-left:auto;
    margin-right:auto;
    background:url('../images/2-ribbon-oren.png') no-repeat;
    width:450px;
    height:56px;
    text-align:center;
    color:#FFF;
    font-size: 2.5em;
    font-family: latobold;
    letter-spacing: 0.3vh;

}
.section-3{
    position:relative;
    background:url('../images/2-background-grid.png') repeat;
    padding-bottom:30px;
}
.road{
    position:absolute;
    width:100%;
    top:29%;
}
.box-5{
    background:#f89a1c;
    padding:15px;
    position: relative;
}
.qm{
    position: absolute;
    right:-30px;
    top:-30px;
}
.bordered-dash{
    border: #FFF dashed 2px;
    padding:10px;
}
.box-6{
    margin-top:100px;
    padding:40px;
}
.box-6-title{
    background:url('../images/2-pita-pink.png') right no-repeat;
    background-size:100%;
    width:240px;
    height:35px;
    text-align:left;
    color:#FFF;
    font-size: 1.5em;
    font-weight: bold;
}
.box-8{
    margin-top:95px;
}
.box-8-title{
    background:url('../images/2-pita-ungu.png') right no-repeat;
    background-size:100%;
    width:250px;
    height:35px;
    text-align:left;
    color:#FFF;
    font-size: 1.5em;
    font-weight: bold;
}
.box-9{
    margin-top:40px;
}
.box-9-title{
    background:url('../images/2-pita-biru.png') right no-repeat;
    background-size:100%;
    width:250px;
    height:35px;
    text-align:left;
    color:#FFF;
    font-size: 1.5em;
    font-weight: bold;
}
.box-7{
    margin-top:20px;
}

.section-4{
    position:relative;
    background:#FFF;
}

.title-head-4{
    margin-left:auto;
    margin-right:auto;
    background:url('../images/3-ribbon-pink.png') no-repeat;
    width:660px;
    height:56px;
    text-align:center;
    color:#FFF;
    font-size: 2.5em;
    font-family: latobold;
    letter-spacing: 0.3vh;

}
.segitiga1{
    position:absolute;
    top:0;
    left:10%;
}
.segitiga2{
    position:absolute;
    top:30%;
    right:5%;
}
.segitiga3{
    position:absolute;
    bottom:15%;
    left:0;
}
.impoinl{
    margin-top:10px;
    text-align: right;
}
.impoinr{
    margin-top:10px;
    text-align: left;
}
.poin1{
    z-index: 1;
}
.poin2{
    z-index: 0;
    margin-top:-10px;
}
.poin3{
    z-index: 1;
    margin-left:30px;
    margin-top:-20px;
}
.poin4{
    z-index: 2;
    margin-left:20px;
    margin-top:-20px;
}
.poin5{
    z-index: 3;
    margin-top:-20px;
}
.poin6{
    z-index: 1;
}
.poin7{
    z-index: 0;
    margin-top:-10px;
}
.poin8{
    z-index: 1;
    margin-left:30px;
    margin-top:-20px;
}
.poin9{
    z-index: 2;
    margin-left:20px;
    margin-top:-20px;
}
.poin10{
    z-index: 3;
    margin-top:-20px;
}
.section-5{
    background: #6c568b; /* For browsers that do not support gradients */
    background: linear-gradient( #445083, #6c568b);
}
.section-5-title{
    text-align: center;
    font-size:3em;
    color:#ffff00;
    font-family: latobold;
    letter-spacing: 1.5vh;
    margin-bottom:20px;
}
.box-10{
    border:dashed #FFF 2px;
    margin-top:70px;
    padding-bottom:20px;
}
.box-10-title{
    margin-left:auto;
    margin-right:auto;
    width:500px;
    margin-top:-50px;
    margin-bottom:20px;
    text-align: center;
    border:dashed #FFF 2px;
}
.sub-title{
    font-size:2em;
    font-family: latobold;
}
.sub-title2{
    font-size:2em;
    color:#ffff00;
    font-family: latobold;
}
.mau{
    width:540px;
    margin-left:auto;
    margin-right:auto;
}
.mau-t{
    margin-top:20px;
    margin-left:10px;
}
.box-10-1{
    margin:20px;
    padding: 20px 10px;
}
.box-10-1-head{
    font-size: 2em;
    font-family: latobold;
}
.rounded{
    border-radius:10px;
}
.section-13{
    background:repeat-x url('../images/13-bg.png') top left;
}
strong{
    font-family:latobold!important;
}